@import 'assets/styles/scrollbars.css';

.box-shadow-lat {
  background: linear-gradient(90deg, #f7fafc 0%, rgba(255, 255, 255, 0)),
    linear-gradient(-90deg, #f7fafc 0%, rgba(255, 255, 255, 0)) 100% 0,
    radial-gradient(
      farthest-side at 0% 50%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      100% 0%;
  background-repeat: no-repeat;
  background-size: 100px 100%, 100px 100%, 14px 100%, 14px 100%;
  background-attachment: local, local, scroll, scroll;
}
